<script type="text/javascript">
    //document.getElementById("home_menu").style.borderBottom = "2px solid mediumseagreen";
     change_menu("home_menu")
</script>
<%= render '/page_title', :title => 'Sellers' %>
<%= link_to 'New', candidates_new_path  %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Company</th>
    <th>Email</th>
    <th>URL</th>
    <th>Registration Date</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Microsoft Corporation</td>
    <td>sales@microsoft.com</td>
    <td><a href="http://microsoft.hiatul.com" target="_blank">https://microsoft.HiAtul.com</a></td>
    <td>02/20/2015 16:44</td>
    <td></td>
    <td><%= link_to 'Edit', on_board_url(id: "candidate") %> </td>
    <td><%= button_to "Delete", new_user_registration_path, {class: 'btn btn-xs btn-danger'} %></td>
  </tr>
  </tbody>
</table>